
.filterable-product-table
  border-width: 1px
  border-color: orange
  border-style: solid
  margin: 10px


.search-bar
  border-width: 1px
  border-color: blue
  border-style: solid
  margin: 10px


.product-table
  border-width: 1px
  border-style: solid
  border-color: green
  margin: 10px

.product-row-category
  border-width: 1px
  border-style: solid
  border-color: #BFD8DB
  margin-bottom: 3px
  margin-left: 15px


.product-row
  border-width: 1px
  border-style: solid
  border-color: red
  margin-bottom: 3px

.notInStock
  color: red

ul
  list-style none
  margin 0
  padding 0
  li
    margin-left: 15px

span
  margin-right: 15px